body {
  background-color: #0a0a0a; /* #f2f2f2 Change the background color to #414345 */
}

.trueheader{
  color:white;
  margin-left: 40%;
  margin-bottom: 5%;
  font-family: "Courier New"

}

.objectadder{
  color: white;
  background-color: #ea9e06;
}
/* for dark gray : #3b3a37 */
.flex-container {
  display: flex;
  /* justify-content: center;  */
  /* Center horizontally */
  /* align-items: center;  */
  /* Center vertically */
}

.left-section {
  flex: 1;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 190px; /* Move margin to the right */
}

.circle-button {
  width: 270px; 
  height: 120px;
  border-radius: 50%;
  background-color: black;
  margin-bottom: 60px;
  box-shadow: 0 0 10px white; /* Add box-shadow for glow effect */
  animation: glowing 3s ease-in-out infinite; /* Add animation for glow effect */
  color: white; /* Set the text color to white */
  text-shadow: 0 0 10px white; /* Add text shadow for glowing effect */
  font-size: 18px; /* Increase text size */
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.circle-button:hover {
  transform: scale(1.2); /* Make the button bigger on hover */
}

.circle-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: white;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.circle-button:hover::after {
  width: 500px;
  height: 500px;
  opacity: 1;
}

/* .circle-button.clicked {
  animation: fadeOut 0.5s forwards; /* Add fade-out animation */



.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width : 800px;
  height : 800px;
}

 /* next code is for the ciphers page */
 .cipher-flex-container {
  display: flex;
  margin-top: 5.5rem; 
  
}

.cipher-flex-left{
  flex: 1;
  
}

.ciphertext{
  color: white;
}

.cipherinput{
  margin-right: 0.5rem; 
  padding: 0.5rem;
   font-size: 1.2rem; 
   width: 70%
}

.ciphersubmit{
  padding: 0.5rem 1.3rem; 
  font-size: 1.2rem; 
  margin-top: 0.3rem 
}

.displayedcipher{
  color: white;
  font-size: 2.2rem;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}

.cipheright{
  flex: 1;
  justify-content: center;
  align-items: center;
}

.cipherimage {
  max-width: 30%;
  margin-left: 10rem;
  margin-top: 2rem;
}

.cipherexit{
  margin-top: 2rem;
}

/* next part of code is for the insert into database */

.inputdata {
  width: 18.75rem; 
  height: 2.5rem; 
  font-size: 1rem; 
  padding: 0.5rem; 
  margin-bottom: 1.25rem; 
  margin-top: 13rem; 
}

.submitdata {
  width: 9.375rem; 
  height: 2.5rem; 
  font-size: 1rem; 
  justify-content: center;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 8rem;
}

/* previous was for the first two insert (name and rules)*/

.inputarraydata{
  width: 18.75rem; 
  height: 2.5rem; 
  font-size: 1rem; 
  padding: 0.5rem; 
  margin-top: 13rem;
  margin-bottom: 1.25rem;
  margin-left: 8rem;
}

.inputsubmitdata{
  width: 9.375rem; 
  height: 2.5rem; 
  font-size: 1rem; 
  justify-content: center;
  background-color: #ea9e06;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 13rem;
  margin-top: 1.25rem;
}

/* previous was for the add to array page on ds submitter*/
/* next part is for entering the answers and solutions*/

.keyinput{
  width: 18.75rem;
  height: 2.5rem; 
  font-size: 1rem;
  padding: 0.5rem; 
  margin-bottom: 1.25rem; 
  margin-top: 1.1rem;
}

/* next piece of code is for the Database Retriever*/

.firstsubmit{
  margin-left:14rem;
  line-height: 2.175rem;
  width: 7.375rem; 
  background-color: #ea9e06;
  color: white;
}

/* next piece of code is for the Database Retriever where state === 1*/

.cipherheader{
  margin-left: 50%;
  color:white;

}

.retrieverhints{
  margin-top: 10%;
  width: 30%;
  line-height: 2.175rem;
  color:white;
  background-color: #ea9e06;

}

.retireverview{
  margin-left: 31%;
  color:white;
}

.retrieverinput{
  margin-top:  5%;
  color:white;
  margin-left: 31%;
 
}

.bottombuttons{
  background-color: #ea9e06;
  color: white;

}

.lefthandtext{
  color:white;
  margin-left: 4%;
  margin-top: 5%;
  font-size: 1.1rem;
  width: 70%;
}










@keyframes glowing {
  0% {
    box-shadow: 0 0 10px white;
  }
  50% {
    box-shadow: 0 0 20px white, 0 0 30px white;
  }
  100% {
    box-shadow: 0 0 10px white;
  }



 

}